.App {
  text-align: center;
}


.active-pokemon{
  border-style: solid;
  width: 400px;
  display: inline-block;
  margin-right: 20px;
}

.enemy-pokemon{
  border-style: solid;
  width: 400px;
  height: 410px;
  display: inline-block;
  transform: translateY(10px)
}

.ui.cards>.card {
  width: auto;
  padding:50px;
  margin: 50px;
}

ul {
  list-style-type: none;
}
